.header1 {
    width: 30%;
    margin-top: 3%;
    margin: auto;
    padding: 10px 5px 10px 5px; 
    border: 2px  grey; 
    border-radius: 10px; 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-content: center;
}
.image1 {
    border-radius: 10px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title1 {
    font-size: larger;
    margin-left: 10%;
    font-weight: 500;
}
.bio {
    font-size: larger;
    font-weight: 700;
    
}
.content {
    margin-left: 1%;
    font-size: large;
}.link {
    margin-left: 1%;
    margin-top: 2%;
    font-size: medium;
}

/* unvisited link */
a:link {
    color: #FF0000;
}

/* visited link */
a:visited {
    color: #00FF00;
}

/* mouse over link */
a:hover {
    color: grey;
}

/* selected link */
a:active {
    color: #0000FF;
}